In [1]:
import pandas as pd
import pickle

### Getting the groundtruth values

In [2]:
employment_ground_truth = pd.read_csv('../eval_employment_prompt.csv')
relation_ground_truth = pd.read_csv('../eval_relationship_prompt.csv')

In [3]:
relation_df = relation_ground_truth[['RELATIONSHIP_nonadverse', 'RELATIONSHIP_adverse']]

In [4]:
final_df = employment_ground_truth.join(relation_df, on='index', how='left')

### Getting the prediction results

In [5]:
with open('llm_0_500_step1.pkl', 'rb') as file:
    llm_0_500_step1 = pickle.load(file)

with open('llm_500_1000_step1.pkl', 'rb') as file:
    llm_500_1000_step1 = pickle.load(file)

with open('llm_1000_1500_step1.pkl', 'rb') as file:
    llm_1000_1500_step1 = pickle.load(file)

with open('llm_1500_1622_step1.pkl', 'rb') as file:
    llm_1500_1622_step1 = pickle.load(file)

with open('llm_1622_1977_step1.pkl', 'rb') as file:
    llm_1622_1977_step1 = pickle.load(file)

with open('llm_1977_2254_step1.pkl', 'rb') as file:
    llm_1977_2254_step1 = pickle.load(file)

with open('llm_2254_2500_step1.pkl', 'rb') as file:
    llm_2254_2500_step1 = pickle.load(file)

with open('llm_2500_2628_step1.pkl', 'rb') as file:
    llm_2500_2628_step1 = pickle.load(file)

with open('llm_2628_3000_step1.pkl', 'rb') as file:
    llm_2628_3000_step1 = pickle.load(file)

with open('llm_3000_3485_step1.pkl', 'rb') as file:
    llm_3000_3485_step1 = pickle.load(file)

with open('llm_3485_3500_step1.pkl', 'rb') as file:
    llm_3485_3500_step1 = pickle.load(file)

with open('llm_3500_3576_step1.pkl', 'rb') as file:
    llm_3500_3576_step1 = pickle.load(file)

with open('llm_3576_3607_step1.pkl', 'rb') as file:
    llm_3576_3607_step1 = pickle.load(file)

with open('llm_3607_3648_step1.pkl', 'rb') as file:
    llm_3607_3648_step1 = pickle.load(file)

with open('llm_3648_3885_step1.pkl', 'rb') as file:
    llm_3648_3885_step1 = pickle.load(file)

with open('llm_3885_3916_step1.pkl', 'rb') as file:
    llm_3885_3916_step1 = pickle.load(file)

with open('llm_3916_4000_step1.pkl', 'rb') as file:
    llm_3916_4000_step1 = pickle.load(file)

with open('llm_4000_4500_step1.pkl', 'rb') as file:
    llm_4000_4500_step1 = pickle.load(file)

with open('llm_4500_5000_step1.pkl', 'rb') as file:
    llm_4500_5000_step1 = pickle.load(file)

with open('llm_5000_5293_step1.pkl', 'rb') as file:
    llm_5000_5293_step1 = pickle.load(file)

with open('llm_5293_5321_step1.pkl', 'rb') as file:
    llm_5293_5321_step1 = pickle.load(file)

In [6]:
llm_0_500_step1 = llm_0_500_step1.rename(columns={'llm_0_500_step1': 'result'})
llm_500_1000_step1 = llm_500_1000_step1.rename(columns={'llm_500_1000_step1': 'result'})
llm_1000_1500_step1 = llm_1000_1500_step1.rename(columns={'llm_1000_1500_step1': 'result'})
llm_1500_1622_step1 = llm_1500_1622_step1.rename(columns={'llm_1500_2000_step1': 'result'})
llm_1622_1977_step1 = llm_1622_1977_step1.rename(columns={'llm_1622_2000_step1': 'result'})
llm_1977_2254_step1 = llm_1977_2254_step1.rename(columns={'llm_1977_2500_step1': 'result'})
llm_2254_2500_step1 = llm_2254_2500_step1.rename(columns={'llm_2254_2500_step1': 'result'})
llm_2500_2628_step1 = llm_2500_2628_step1.rename(columns={'llm_2500_3000_step1': 'result'})
llm_2628_3000_step1 = llm_2628_3000_step1.rename(columns={'llm_2628_3000_step1': 'result'})
llm_3000_3485_step1 = llm_3000_3485_step1.rename(columns={'llm_3000_3500_step1': 'result'})
llm_3485_3500_step1 = llm_3485_3500_step1.rename(columns={'llm_3485_3500_step1': 'result'})
llm_3500_3576_step1 = llm_3500_3576_step1.rename(columns={'llm_3500_4000_step1': 'result'})
llm_3576_3607_step1 = llm_3576_3607_step1.rename(columns={'llm_3576_4000_step1': 'result'})
llm_3607_3648_step1 = llm_3607_3648_step1.rename(columns={'llm_3607_4000_step1': 'result'})
llm_3648_3885_step1 = llm_3648_3885_step1.rename(columns={'llm_3648_4000_step1': 'result'})
llm_3885_3916_step1 = llm_3885_3916_step1.rename(columns={'llm_3885_4000_step1': 'result'})
llm_3916_4000_step1 = llm_3916_4000_step1.rename(columns={'llm_3916_4000_step1': 'result'})
llm_4000_4500_step1 = llm_4000_4500_step1.rename(columns={'llm_4000_4500_step1': 'result'})
llm_4500_5000_step1 = llm_4500_5000_step1.rename(columns={'llm_4500_5000_step1': 'result'})
llm_5000_5293_step1 = llm_5000_5293_step1.rename(columns={'llm_5000_5321_step1': 'result'})
llm_5293_5321_step1 = llm_5293_5321_step1.rename(columns={'llm_5293_5321_step1': 'result'})

In [7]:
predicted_df = pd.concat([llm_0_500_step1, llm_500_1000_step1, llm_1000_1500_step1, llm_1500_1622_step1, llm_1622_1977_step1, llm_1977_2254_step1, llm_2254_2500_step1,
           llm_2500_2628_step1, llm_2628_3000_step1, llm_3000_3485_step1, llm_3485_3500_step1, llm_3500_3576_step1, llm_3576_3607_step1, llm_3607_3648_step1,
           llm_3648_3885_step1, llm_3885_3916_step1, llm_3916_4000_step1, llm_4000_4500_step1, llm_4500_5000_step1, llm_5000_5293_step1, llm_5293_5321_step1],
          axis=0)

In [8]:
predicted_df['result'].value_counts()

result
NO                                                                                                                                                                                                                                4769
YES                                                                                                                                                                                                                                548
EMPLOYMENT: Unable to determine\nTRANSPORTATION: Unable to determine\nHOUSING: Unable to determine\nMARITAL_STATUS: Single\nRELATIONSHIP_CONDITION: NonAdverse\nEMPLOYMENT_CONDITION: Unable to determine\n\nFinal Output: YES       1
EMPLOYMENT: Disability\nTRANSPORTATION: N/A\nHOUSING: N/A\nMARITAL_STATUS: N/A\nRELATIONSHIP_CONDITION: N/A\nEMPLOYMENT_CONDITION: N/A\n\nFinal Output: YES                                                                          1
EMPLOYMENT: Employed\nTRANSPORTATION: N/A\nHOUSING: N/A\nMARITAL_STATUS: N/A\nRELATIONSHIP_CONDITION: N/A\nEMPLOYMENT_CONDITION: N/A\n\nFinal Output: YES                                                                            1
HOUSING: Poor\nMARITAL_STATUS: Single\nRELATIONSHIP_CONDITION: NonAdverse\nEMPLOYMENT_CONDITION: NonAdverse\n\nOutput: YES                                                                                                           1
Name: count, dtype: int64

In [9]:
len(predicted_df[predicted_df['result'] == 'NO'])/len(predicted_df['result'])

0.8962601014846834

### Comparing the results from prediction and groundtruth

In [10]:
final_df

,index,provider_type,patient_id,note_id,sentence_index,text,TRANSPORTATION_distance,TRANSPORTATION_resource,TRANSPORTATION_other,HOUSING_poor,...,SUPPORT_minus,PARENT,UNKNOWN,llm_text,llm_label_EMPLOYMENT,llm_label_UNKNOWN,EMPLOYMENT_nonadverse,EMPLOYMENT_adverse,RELATIONSHIP_nonadverse,RELATIONSHIP_adverse
0,0,Nursing,10954,401903,0,Ms. [**Known lastname 11692**] is a 52 year ol...,0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,False,False
1,1,Nursing,10954,401903,1,"During her admission, she developed obtundatio...",0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,False,False
2,2,Nursing,10954,401903,2,She was extubated the next day after a thorace...,0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,False,False
3,3,Nursing,10954,401903,3,She was transferred to the medical service fro...,0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,False,False
4,4,Nursing,10954,401903,4,"Please see Vascular, SICU and Medicine admissi...",0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5316,5323,Social Work,99469,534350,13,They also note that pt does not have any relig...,0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,NaN,NaN
5317,5324,Social Work,99469,534350,14,SW informed wifge and dtr that this sw would n...,0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,NaN,NaN
5318,5325,Social Work,99469,534350,15,[**First Name8 (NamePattern2) 1035**],0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,NaN,NaN
5319,5326,Social Work,99469,534350,16,[**Last Name (NamePattern1) 2204**],0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,NaN,NaN
5320,5327,Social Work,99469,534350,17,", LICSW #[**Numeric Identifier 2205**]",0.0,0.0,0.0,0.0,...,0.0,0.0,True,"{\n ""EMPLOYMENT"": ""UNKNOWN"",\n ""EMPLOYMENT_C...",UNKNOWN,True,False,False,NaN,NaN

In [11]:
predicted_df

    index result
0       0     NO
1       1     NO
2       2     NO
3       3     NO
4       4     NO
..    ...    ...
23   5316     NO
24   5317     NO
25   5318     NO
26   5319     NO
27   5320     NO

[5321 rows x 2 columns]

In [ ]:
# Calculate the global recall value among YES or NO
# Run the optimized query on Ahsan data as well as try to find the start/end position of the attribute in each category
# Wait for Ivan to give the categories/attributes which I need to target for step 1 efficiency